/**************************************

	TABLE OF CONTENT:
		Universale tags
		Klasser og ID
		Kolonner
		Header
		Mobile menu
		Banner
		Content
		Footer
		Media Queries

***************************************/



/***************
Universale Tags
***************/
body{
	background-image:url("../images/lake2.jpg");
	background-repeat:no-repeat;
	background-position: center top;
	background-color:#02061b;
	background-size: 100%;
	font-family: arial;
	margin:auto;
	max-width:2000px;
	width:100%;
	position:relative;

}

a{
	text-decoration:none;
}


/***************
KLASSER OG ID
***************/
.button{
	text-align:center;
	width:25%;
	/*background-color:gray;*/
	color:white;

	line-height:4em;
	cursor:pointer;
	z-index:99;
	transition:all 0.2s;
}

.button:hover{

	background-color: rgba(256,256,256,0.2);
}

#showHideMenuBtn{
	display: none;
}
#header_wrapper{
	width:100%;
	justify-content: space-around; 
}

/***************
KOLONNER
***************/
.wrapper{
	width:85%;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex; 
	justify-content: center; 
	margin: 0 auto;
}



.col-1{
	width:40%;	
}
.col-1 img{
	width:50%;
	margin:1em;
	margin-top:4em;
}
.col-2{
	width:40%;
}

.col-2 img{
	width:95%;
}


/***************
HEADER
***************/
header{
	background-color: rgba(0,0,0,0.4);
	width:100%;

	height:4em;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex; 
		


}

#logo{
	width:10%;
	color:white;
	font-size:2em;
	text-align:center;
	line-height:2em;
}


nav{
/*	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;*/
	width:60%;
	/*height: 3.25em;*/
	

}
#menuBtns{
	width: 100%;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex; 
	justify-content: center;
}


/* Class button er definert i "Universale tags" */


/**************
Language box
***************/

#lang{
	
	margin-top:1.5em;

	height:1em;
	overflow:hidden;
	z-index:99;
	-webkit-transition: height 0.5s ease; /* Firefox */
	  	-moz-transition: height 0.5s ease; /* WebKit */
	  	-o-transition: height 0.5s ease; /* Opera */
	  	transition: height 0.5s ease; /* Standard */
}
#langBox{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-direction:column;
	justify-content:space-between;
	height:6em;
}
#lang:hover{
}
.langBtn{
	color:white;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	padding-bottom:1em;
	cursor:pointer;

	-webkit-transition: all 0.5s ease; /* Firefox */
	  	-moz-transition: all 0.5s ease; /* WebKit */
	  	-o-transition: all 0.5s ease; /* Opera */
	  	transition: all 0.5s ease; /* Standard */
}
#langBackground{
	position:absolute;
	right:0;
	z-index:-1;
	width:12em;
	height:0em;
	background-color: rgba(0,0,0,0.4);
	-webkit-transition: height 0.5s ease; /* Firefox */
	  	-moz-transition: height 0.5s ease; /* WebKit */
	  	-o-transition: height 0.5s ease; /* Opera */
	  	transition: height 0.5s ease; /* Standard */

}
.langBtn:hover{
	 text-shadow:
    -1px -1px 3px #000,
    1px -1px 3px #000,
    -1px 1px 3px #000,
    1px 1px 3px #000; 
	color:#eeeeee;
}
#nor{
	
}
#eng{
	
}
#ger{
	
}
.flag{
	width:1.5em;
	height:0.8em;
}


/***************
BANNER
***************/
#banner{
	width:100%;	
}

#banner .col-2{
	margin-top:15%;
	color: white;

	/* Skal vi ha text-shadow?*/
   text-shadow:
    -1px -1px 3px #000,
    1px -1px 3px #000,
    -1px 1px 3px #000,
    1px 1px 3px #000; 
	
}
#banner ul{
	font-size:1.2em;
	line-height:1.5em;
}

#bannerBtns{
	float:left;
	width:80%;
	margin-left:10%;
	margin-top:15%;
}

#bannerBtns a{
	float:left;
	width:30%;
	border:1px solid white;
	text-align:center;
	border-radius:0.2em;
	padding-top:0.5em;
	padding-bottom:0.5em;
	cursor:pointer;
	margin-bottom:1em;
}

#downloadBtn{
	background-color:#0015FF; /* Vet ikke om denne fargen er den best. Vi faar diskutere det.*/
	text-shadow: none;
	color: white;
}
#downloadBtn:hover{

}
.readBtn{
	background-color:black;
	margin-left:20%;
}
#readBtn2{
	display:none;
}

.readBtn:hover{
background-color:gray; /* Muligvis annen farge paa denne knappen ogsaa? */
}


/***************
CONTENT
***************/
#content-1{
	background-color:white;
	width:80%;
	margin:auto;
	border-radius:0.3em;
}

/***************
FOOTER
***************/
footer{
	background-color:#aaaaaa;
	height:auto;
	width:80%;
	margin:1em auto 0.5em auto;
	border-radius:0.4em;
}

/***************
MEDIA QUERIES
Smarttelefon: 0 px - 480 px
Nettbrett: 481 px - 768 px
Desktop: 769 px 
***************/
@media screen and (max-width:769px){
	body{
		background-size:200%;
	}
	header div.wrapper{
		justify-content: space-between;
		flex-wrap: wrap;
	}

		/*Slik at kolonnene i innholdsavdelingen blir brukket opp*/
	[id*="content-"] .wrapper{
		flex-direction: column;
	}
	header{
		height:auto;
	}


	nav{
		width:100%;
		margin:0;
		order:3;
	}
	#menuBtns{
	justify-content: space-around;
	}

	.button{ 
		width:33%;
	}
	#langBackground{
		display:none;
	}



	[class*="col"]{
		width: 100%
	}
}

@media screen and (max-width:481px){
	.hideMobile{
		display: none !important;
	}
	body{
		margin:auto;
		background-size:250%;
	}
	header{
		padding-bottom: 1em;
	}
	#logo{
		width:100%;
	}

	#lang{
		width:5em;
		flex-direction: row;
		justify-content: space-between;
		padding:0 1em 1em 0;
		margin-top:0;
	}
	.langBtn{
		/*justify-content: flex-end;*/
	}
	#content-1{
		width:100%;
	}
	footer{
		width:100%;
	}

	/***************
	MOBILE MENU
	***************/

	#showHideMenuBtn{
		border:1px solid white;
		display: block;
		/*-webkit-transition: all 1s ease; /* Firefox */
	  	/*-moz-transition: all 1s ease; /* WebKit */
	  	/*-o-transition: all 1s ease; /* Opera */
	  	/*transition: all 1s ease; /* Standard */
	}

	#menuBtns{
		flex-direction: column;
		-webkit-transition: height 0.5s ease; /* Firefox */
	  	-moz-transition: height 0.5s ease; /* WebKit */
	  	-o-transition: height 0.5s ease; /* Opera */
	  	transition: height 0.5s ease; /* Standard */
	}
	.button{
		width:100%;
		border-top:1px solid white;
		text-align:center;
	}

	.synlig{
		overflow:hidden;
		height:200px;
	}

	.usynlig{
		overflow:hidden;
		height: 0px;
	}



	#banner .col-2{
		margin:5%;
		width:95%;
	}
}