/**************************************

	TABLE OF CONTENT:
		Universale tags
		Classes and ID
		Columns
		Header
		Mobile menu
		Banner
		Content
		Footer
		Media Queries

***************************************/



/***************
Universale Tags
***************/
body{
	background-image: url("../images/lake.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #23476b; /* OLD COLOR: 112445*/
	background-position: center top;	
	background-size: cover;
	font-family: arial;
	margin:auto;
	max-width:2000px;
	min-width:250px;
	width:100%;
	position:relative;

}

h2,h3{
	font-family: 'Noto Sans', sans-serif;
}

p, span, #main a {
	font-family: 'Open Sans', sans-serif;
}

p{
	line-height: 1.8em;
}

a{
	text-decoration:none;
}


/***************
CLASSES and ID
***************/
#shortcutContent{
	position: absolute;
	top: -2000px;
	padding: 1em;
	background-color: white;
}
#shortcutContent:focus{
	top: 4em;
	left:1em;
}


.flex{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.text-shadow{
	/* Do we want text-shadow?*/
   text-shadow:
    -1px -1px 3px #000,
    1px -1px 3px #000,
    -1px 1px 3px #000,
    1px 1px 3px #000; 
	
}
.button{
	text-align:center;
	width:25%;
	/*background-color:gray;*/
	color:white;

	padding:1em;
	cursor:pointer;
	z-index:1;
	transition:all 0.2s;
}


.button:hover{
	background-color: rgba(255,255,255,0.2);
}
.button:focus{
	background-color: rgba(255,255,255,0.2);
	outline:none;
}



/***************
COLUMNS
***************/
.wrapper{
	width:85%;
	justify-content: center; 
	margin: 0 auto;
}



.col-1{
	width:50%;	
}
.col-1 img{
	width:100%;
	display:none;
}
.col-2{
	width:40%;
	margin-left: 8%;
}

.col-2 img{
	width:95%;
}


/***************
HEADER
***************/
header{
	background-color: #23476b; /* old color: rgba(0,0,0,0.4); */
	width:100%;

	height:4em;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex; 
}
#header_wrapper{
	width:100%;
	height: inherit;
	justify-content: space-around; 
}

#logo{
	width:10%;
	color:white;
	font-size:2em;
	text-align:center;
	line-height:2em;
}


nav{
	width:60%;
	height: inherit;
	font-size: 1.25em;
	overflow:hidden;
}
#menuBtns{
	justify-content: center;
	align-items: center;
    height: inherit;   
}

#showHideMenuBtn{
	display: none;
}


/* Class "button" is defined in "Universale tags" */


/**************
Language box
***************/

#lang{
	
	margin-top:1em;
	height:2em;
	overflow:hidden; 
	background-color: #23476b;
	-webkit-transition: all 0.5s ease; /* Firefox */
	  	-moz-transition: all 0.5s ease; /* WebKit */
	  	-o-transition: all 0.5s ease; /* Opera */
	  	transition: all 0.5s ease; /* Standard */
}
#langBox{
	flex-direction:column;
	justify-content:space-between;
	height:4em;
}
#lang:hover{
}
.langBtn{

	color:white;
	flex-direction: row;
	padding: 0.5em;
	cursor:pointer;

	z-index:1;
	-webkit-transition: all 0.5s ease; /* Firefox */
	-moz-transition: all 0.5s ease; /* WebKit */
	-o-transition: all 0.5s ease; /* Opera */
	transition: all 0.5s ease; /* Standard */
}
#langBackground{
	position:absolute;
	right:0;
	z-index:0;
	width:12em;
	height:0em;
	background-color: rgba(0,0,0,0.4);
	-webkit-transition: height 0.5s ease; /* Firefox */
	-moz-transition: height 0.5s ease; /* WebKit */
	-o-transition: height 0.5s ease; /* Opera */
	transition: height 0.5s ease; /* Standard */

}
.langBtn:hover{
	background-color: rgba(256,256,256,0.2);
}
.langBtn:focus{
	background-color: rgba(256,256,256,0.2);
	outline:none;
}
#nor{
	
}
#eng{
	
}
#ger{
	
}
.flag{
	width:1.5em;
	height:0.8em;
	margin-right: 0.5em;
}


/***************
BANNER
***************/
#banner{
	width:100%;	
	margin-top: 1em;
    margin-bottom: 3em;
    color: white;
}

#banner h1{
	font-size: 2.5em;
}
#banner ul{
	font-size:1.2em;
	line-height:1.5em;
}
#banner .col-1{
	width: 100%;
	margin: 20vh 0 40vh 0;
	font-size:1em;
}

#banner li{
	margin:1em;
}

#bannerBtns{
	margin-top: 3em;
}

#bannerBtns a{
	color: white;
    padding: 1em 5%;
    background-color: #861B23;
    border: 1px solid black;
}
#bannerBtns a:hover, #bannerBtns a:focus{
	color: black;
	background-color: #CFCFCF;
	outline: none;
}

#downloadBtn{
	
}

#readBtn{
	margin-left:17%;
}
/***************
CONTENT
***************/
#content-1{
	background-color:#F1F1F1;
	width:90%;
	margin:auto;
	border-radius:0.3em;
	padding: 2em 0 2em 0;
}

/***************
FOOTER
***************/
footer{
	background-color:#aaaaaa;
	height:auto;
	width:90%;
	margin:1em auto 0.5em auto;
	border-radius:0.4em;
}
footer .flex{
	flex-wrap: wrap;
}

/***************
MEDIA QUERIES
Smarttelefon: 0 px - 480 px
Nettbrett: 481 px - 768 px
Desktop: 769 px 
***************/
@media screen and (max-width:1024px){
	
	header div.wrapper{
		justify-content: space-between;
		flex-wrap: wrap;
	}

		/*Slik at kolonnene i innholdsavdelingen blir brukket opp*/
		/*So that the columns in the content area is geting used up ????*/
	[id*="content-"] .wrapper{
		flex-direction: column;
	}
	header{
		height:auto;
	}


	nav{
		width:100%;
		margin:0;
		order:3;
		border-top:1px solid white;
	}
	#menuBtns{
		justify-content: space-around;
	}

	.button{ 
		width:33%;
	}
	#langBackground{
		display:none;
	}

	#langBox{
		flex-direction: row;
    	height:2em;
		font-size:1.25em;
	}
	#lang{
		height:2.5em;
	}

	.col-2 img{
		width:49%;
	}

	[class*="col"]{
		width: 100%;
		margin: 0;
	}
}

@media screen and (max-width:550px){
	.hideMobile{
		display: none !important;
	}

	body{
		background-position:70%;
	}
	
	header{
		padding-bottom: 1em;
	}
	nav{
		border:none;
	}
	#logo{
		width:100%;
	}

	#lang{
		width:100%;
		flex-direction: row;
		justify-content: space-between;
		margin:0 1em 1em 0;
		margin-top:0;

		overflow: hidden;
	}
	#langBox{
    	justify-content: space-around;
	}
	#content-1{
		width:100%;
		border-radius:0;
	}
	#banner .col-1{
	margin: 0vh 0 0vh 0;
}
	footer{
		width:100%;
		margin:0 auto 0 auto;
		border-radius:0;
	}
	

	/***************
	MOBILE MENU
	***************/

	#showHideMenuBtn{
		border:1px solid white;
		display: block;
	}

	#menuBtns{
		flex-direction: column;
		overflow: hidden;
		max-height: 0px;
		-webkit-transition: max-height 1s ease; /* Firefox */
	  	-moz-transition: max-height 1s ease; /* WebKit */
	  	-o-transition: max-height 1s ease; /* Opera */
	  	transition: max-height 1s ease; /* Standard */

	}
	
	/*Delete?*/
	.synlig{
		max-height:200px !important;
	}

	/********
	Content
	*******/
	.button{
		width:80%;
		margin:auto;
		border-top:1px solid white;
		text-align:center;
	}

	.readBtn{
		margin-left:15%;
	}

	.col-1 img{
		display:inline;
	}

	.col-2 img{
		width:49%;
	}


	#banner .col-2{
		margin:5%;
		width:95%;
	}
}