/**************************************

	TABLE OF CONTENT:
		Universale tags
		Klasser og ID
		Kolonner
		Header
		Mobile menu
		Banner
		Content
		Footer
		Media Queries

***************************************/



/***************
Universale Tags
***************/
body{
	background-image:url("../images/lake.jpg");
	background-repeat:no-repeat;
	background-position: center top;
	background-color:#112445;
	background-size: 100%;
	font-family: arial;
	margin:auto;
	max-width:2000px;
	width:100%;
	position:relative;

}
p{
	line-height: 1.8em;
}

a{
	text-decoration:none;
}


/***************
KLASSER OG ID
***************/
.button{
	text-align:center;
	width:25%;
	/*background-color:gray;*/
	color:white;

	line-height:4em;
	cursor:pointer;
	z-index:99;
	transition:all 0.2s;
}

.button:hover{
	background-color: rgba(255,255,255,0.2);
}
.button:focus{
	background-color: rgba(255,255,255,0.2);
	outline:none;
}

#showHideMenuBtn{
	display: none;
}
#header_wrapper{
	width:100%;
	justify-content: space-around; 
}

/***************
KOLONNER
***************/
.wrapper{
	width:85%;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex; 
	justify-content: center; 
	margin: 0 auto;
}



.col-1{
	width:40%;	
}
.col-1 img{
	width:60%;
	margin:1em;
}
.col-2{
	width:40%;
}

.col-2 img{
	width:95%;
}


/***************
HEADER
***************/
header{
	background-color: rgba(0,0,0,0.4);
	width:100%;

	height:4em;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex; 
		


}

#logo{
	width:10%;
	color:white;
	font-size:2em;
	text-align:center;
	line-height:2em;
}


nav{
/*	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;*/
	width:60%;
	/*height: 3.25em;*/
	

}
#menuBtns{
	width: 100%;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex; 
	justify-content: center;
}


/* Class button er definert i "Universale tags" */


/**************
Language box
***************/

#lang{
	
	margin-top:1em;
	height:2em;
	overflow:hidden;
	z-index:1;
	-webkit-transition: height 0.5s ease; /* Firefox */
	  	-moz-transition: height 0.5s ease; /* WebKit */
	  	-o-transition: height 0.5s ease; /* Opera */
	  	transition: height 0.5s ease; /* Standard */
}
#langBox{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-direction:column;
	justify-content:space-between;
	height:6em;
}
#lang:hover{
}
.langBtn{
	z-index:3;
	color:white;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	padding: 0.5em;
	cursor:pointer;

	-webkit-transition: all 0.5s ease; /* Firefox */
	  	-moz-transition: all 0.5s ease; /* WebKit */
	  	-o-transition: all 0.5s ease; /* Opera */
	  	transition: all 0.5s ease; /* Standard */
}
#langBackground{
	position:absolute;
	right:0;
	z-index:0;
	width:12em;
	height:0em;
	background-color: rgba(0,0,0,0.4);
	-webkit-transition: height 0.5s ease; /* Firefox */
	  	-moz-transition: height 0.5s ease; /* WebKit */
	  	-o-transition: height 0.5s ease; /* Opera */
	  	transition: height 0.5s ease; /* Standard */

}
.langBtn:hover{
	background-color: rgba(256,256,256,0.2);
}
.langBtn:focus{
	background-color: rgba(256,256,256,0.2);
	outline:none;
}
#nor{
	
}
#eng{
	
}
#ger{
	
}
.flag{
	z-index:3;
	width:1.5em;
	height:0.8em;
	margin-right: 0.5em;
}


/***************
BANNER
***************/
#banner{
	width:100%;	
	margin-top: 1em;
    margin-bottom: 3em;
    color: white;
}

.text-shadow{
	

	/* Skal vi ha text-shadow?*/
   text-shadow:
    -1px -1px 3px #000,
    1px -1px 3px #000,
    -1px 1px 3px #000,
    1px 1px 3px #000; 
	
}
#banner ul{
	font-size:1.2em;
	line-height:1.5em;
}

#banner li{
	margin:1em;
}

#bannerBtns{
	/*
	STYLING AV KNAPPENE
	*/
	margin-top: 3em;
	text-shadow: 0;
}

#bannerBtns a{
	color: white;
    padding: 1em 5%;
    background-color: saddlebrown;
    border: 1px solid black;
}
#bannerBtns a:hover{
	color:black;
	background-color: #CFCFCF;
}
#bannerBtns a:focus{
	color:black;
	background-color: #CFCFCF;
	outline:none;
}
#downloadBtn{
}

.readBtn{
	margin-left:17%;
}
#readBtn2{
	display:none;
}



/***************
CONTENT
***************/
#content-1{
	background-color:#F1F1F1;
	width:80%;
	margin:auto;
	border-radius:0.3em;
	padding: 2em 0 2em 0;
}

/***************
FOOTER
***************/
footer{
	background-color:#aaaaaa;
	height:auto;
	width:80%;
	margin:1em auto 0.5em auto;
	border-radius:0.4em;
}

/***************
MEDIA QUERIES
Smarttelefon: 0 px - 480 px
Nettbrett: 481 px - 768 px
Desktop: 769 px 
***************/
@media screen and (max-width:769px){
	body{
		background-size:200%;
	}
	header div.wrapper{
		justify-content: space-between;
		flex-wrap: wrap;
	}

		/*Slik at kolonnene i innholdsavdelingen blir brukket opp*/
	[id*="content-"] .wrapper{
		flex-direction: column;
	}
	header{
		height:auto;
	}


	nav{
		width:100%;
		margin:0;
		order:3;
	}
	#menuBtns{
	justify-content: space-around;
	}

	.button{ 
		width:33%;
	}
	#langBackground{
		display:none;
	}

	#langBox{
		flex-direction: row;
    	
	}

	.col-2 img{
		width:49%;
	}

	[class*="col"]{
		width: 100%
	}
}

@media screen and (max-width:481px){
	.hideMobile{
		display: none !important;
	}
	body{
		margin:auto;
		background-size:250%;
	}
	header{
		padding-bottom: 1em;
	}
	#logo{
		width:100%;
	}

	#lang{
		width:100%;
		flex-direction: row;
		justify-content: space-between;
		margin:0 1em 1em 0;
		margin-top:0;
		overflow: hidden;
	}
	#langBox{
    	justify-content: space-around;
	}
	#content-1{
		width:100%;
	}
	footer{
		width:100%;
	}
	

	/***************
	MOBILE MENU
	***************/

	#showHideMenuBtn{
		border:1px solid white;
		display: block;
		/*-webkit-transition: all 1s ease; /* Firefox */
	  	/*-moz-transition: all 1s ease; /* WebKit */
	  	/*-o-transition: all 1s ease; /* Opera */
	  	/*transition: all 1s ease; /* Standard */
	}

	#menuBtns{
		flex-direction: column;
		-webkit-transition: height 0.5s ease; /* Firefox */
	  	-moz-transition: height 0.5s ease; /* WebKit */
	  	-o-transition: height 0.5s ease; /* Opera */
	  	transition: height 0.5s ease; /* Standard */
	}
	.button{
		width:100%;
		border-top:1px solid white;
		text-align:center;
	}

	.readBtn{
	margin-left:15%;
}

	.synlig{
		overflow:hidden;
		height:200px;
	}

	.usynlig{
		overflow:hidden;
		height: 0px;
	}

	.col-2 img{
		width:49%;
	}


	#banner .col-2{
		margin:5%;
		width:95%;
	}
}